Source: multiflexi-database
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.1
Homepage: https://github.com/VitexSoftware/multiflexi-database
Rules-Requires-Root: no
#Vcs-Git: https://salsa.debian.org/debian/multiflexi-database.git
#Vcs-Browser: https://salsa.debian.org/debian/multiflexi-database

Package: multiflexi-migrations
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, multiflexi-common, php-vitexsoftware-ease-fluentpdo
Pre-Depends: php-robmorgan-phinx|php-cakephp-phinx
Description: Database migrations for MultiFlexi
 Php classes used by the phinx migration system to mange MultiFlexi
 database structure

Package: multiflexi-sqlite
Multi-Arch: foreign
Provides: multiflexi-database
Pre-Depends: multiflexi-migrations
Depends: ${misc:Depends}, dbconfig-sqlite3, php-sqlite3, sqlite3
Conflicts: multiflexi-mysql, multiflexi-pgsql
Architecture: all
Description: sqlite support for multiabraflexi setup
 Mandatory dependencies for use Multi FlexiBee setup with SQLite database

Package: multiflexi-mysql
Multi-Arch: foreign
Provides: multiflexi-database
Pre-Depends: multiflexi-migrations
Depends: ${misc:Depends}, dbconfig-mysql, php-mysql, php-robmorgan-phinx|php-cakephp-phinx
Conflicts: multiflexi-sqlite, multiflexi-pgsql
Suggests: mariadb-server
Architecture: all
Description: mariadb support for multiabraflexi setup
 Mandatory dependencies for use Multi FlexiBee setup with MySQL/MariaDB database

Package: multiflexi-pgsql
Multi-Arch: foreign
Provides: multiflexi-database
Pre-Depends: multiflexi-migrations
Depends: ${misc:Depends}, dbconfig-pgsql, php-pgsql, php-robmorgan-phinx|php-cakephp-phinx
Conflicts: multiflexi-sqlite, multiflexi-mysql
Architecture: all
Description: postgresql support for multiabraflexi setup
 Mandatory dependencies for use Multi FlexiBee setup with PostgreSQL database
