#!/bin/sh
# debconf config script for multiflexi-database
. /usr/share/debconf/confmodule
if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
    # Supported database types
    dbc_dbtypes="mysql, pgsql, sqlite"
    # Default user and database name
    dbc_dbuser="multiflexi"
    dbc_dbname="multiflexi"

    # Pokud existuje /etc/multiflexi/database.env, načti hodnoty z něj
    if [ -f /etc/multiflexi/database.env ]; then
        mf_user=$(grep '^DB_USERNAME=' /etc/multiflexi/database.env | cut -d= -f2-)
        mf_pass=$(grep '^DB_PASSWORD=' /etc/multiflexi/database.env | cut -d= -f2-)
        mf_db=$(grep '^DB_DATABASE=' /etc/multiflexi/database.env | cut -d= -f2-)
        if [ -n "$mf_user" ]; then
            dbc_dbuser="$mf_user"
        fi
        if [ -n "$mf_pass" ]; then
            dbc_dbpass="$mf_pass"
            db_set multiflexi/db/app-pass "$mf_pass"
            db_set multiflexi/app-password-confirm "$mf_pass"
        fi
        if [ -n "$mf_db" ]; then
            dbc_dbname="$mf_db"
        fi
    elif [ -f /etc/multiflexi/multiflexi.env ]; then
        mf_user=$(grep '^DB_USERNAME=' /etc/multiflexi/multiflexi.env | cut -d= -f2-)
        mf_pass=$(grep '^DB_PASSWORD=' /etc/multiflexi/multiflexi.env | cut -d= -f2-)
        mf_db=$(grep '^DB_DATABASE=' /etc/multiflexi/multiflexi.env | cut -d= -f2-)
        if [ -n "$mf_user" ]; then
            dbc_dbuser="$mf_user"
        fi
        if [ -n "$mf_pass" ]; then
            dbc_dbpass="$mf_pass"
            db_set multiflexi/db/app-pass "$mf_pass"
            db_set multiflexi/app-password-confirm "$mf_pass"
        fi
        if [ -n "$mf_db" ]; then
            dbc_dbname="$mf_db"
        fi
    fi

    # Pokud chcete, můžete zde nastavit další proměnné dle dokumentace
    . /usr/share/dbconfig-common/dpkg/config
    dbc_go multiflexi "$@"
fi
# End of configuration script